<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFinishedFilter</filter-name>
        <filter-class>filter.LoginFinishedFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CartFilter</filter-name>
        <filter-class>filter.CartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFinishedFilter</filter-name>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/register.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/cart.jsp</url-pattern>
        <url-pattern>/checkout.jsp</url-pattern>
        <url-pattern>/weekly.jsp</url-pattern>
        <url-pattern>/orderHistory.jsp</url-pattern>
        <url-pattern>/dashboard.jsp</url-pattern>
        <url-pattern>/manageOrder.jsp</url-pattern>
        <url-pattern>/manageOrderDetail.jsp</url-pattern>
        <url-pattern>/manageProduct.jsp</url-pattern>
        <url-pattern>/manageProductDetail.jsp</url-pattern>
        <url-pattern>/manageUser.jsp</url-pattern>
        <url-pattern>/manageUserDetail.jsp</url-pattern>
        <servlet-name>AddToMealPlanServlet</servlet-name>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-name>EditProductCartServlet</servlet-name>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-name>CalculateTotalServlet</servlet-name>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-name>GetMealPlanServlet</servlet-name>
        <servlet-name>DeleteMealPlanSessionServlet</servlet-name>
        <servlet-name>SaveMealPlanServlet</servlet-name>
        <servlet-name>ManageMenuAdminServlet</servlet-name>
        <servlet-name>ManageOrderAdminServlet</servlet-name>
        <servlet-name>ManageStatusFoodAdminServlet</servlet-name>
        <servlet-name>ManageStatusOrderAdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <url-pattern>/checkout.jsp</url-pattern>
        <servlet-name>CalculateTotalServlet</servlet-name>
        <servlet-name>CheckOutServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenuServlet</servlet-name>
        <servlet-class>Controller.ManageMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <servlet-class>Controller.ManageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageHomeServlet</servlet-name>
        <servlet-class>Controller.ManageHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailFoodServlet</servlet-name>
        <servlet-class>Controller.DetailFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFoodServlet</servlet-name>
        <servlet-class>Controller.SearchFoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>Controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageCartServlet</servlet-name>
        <servlet-class>Controller.manageCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>Controller.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductCartServlet</servlet-name>
        <servlet-class>Controller.EditProductCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageWeeklyMenuServlet</servlet-name>
        <servlet-class>Controller.ManageWeeklyMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageWeeklyDetailServlet</servlet-name>
        <servlet-class>Controller.ManageWeeklyDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>Controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToMealPlanServlet</servlet-name>
        <servlet-class>Controller.AddToMealPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMealPlanServlet</servlet-name>
        <servlet-class>Controller.SaveMealPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMealPlanSessionServlet</servlet-name>
        <servlet-class>Controller.DeleteMealPlanSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderAdminServlet</servlet-name>
        <servlet-class>Controller.ManageOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStatusOrderAdminServlet</servlet-name>
        <servlet-class>Controller.ManageStatusOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMenuAdminServlet</servlet-name>
        <servlet-class>Controller.ManageMenuAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStatusFoodAdminServlet</servlet-name>
        <servlet-class>Controller.ManageStatusFoodAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMealPlanServlet</servlet-name>
        <servlet-class>Controller.GetMealPlanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculateTotalServlet</servlet-name>
        <servlet-class>Controller.CalculateTotalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserAdminServlet</servlet-name>
        <servlet-class>Controller.ManageUserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePhoneServlet</servlet-name>
        <servlet-class>Controller.UpdatePhoneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStatusUserAdminServlet</servlet-name>
        <servlet-class>Controller.ManageStatusUserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewManageUserDetailAdminServlet</servlet-name>
        <servlet-class>Controller.ViewManageUserDetailAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderDetailAdminServlet</servlet-name>
        <servlet-class>Controller.ManageOrderDetailAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductDetailAdminServlet</servlet-name>
        <servlet-class>Controller.ManageProductDetailAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserAdminServlet</servlet-name>
        <servlet-class>Controller.SearchUserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFoodByNameAdminServlet</servlet-name>
        <servlet-class>Controller.SearchFoodByNameAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountUserAdminServlet</servlet-name>
        <servlet-class>Controller.DeleteAccountUserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusUserAdminServlet</servlet-name>
        <servlet-class>Controller.UpdateStatusUserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusProductAdminServlet</servlet-name>
        <servlet-class>Controller.UpdateStatusProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusOrderAdminServlet</servlet-name>
        <servlet-class>Controller.UpdateStatusOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductAdminServlet</servlet-name>
        <servlet-class>Controller.DeleteProductAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderAdminServlet</servlet-name>
        <servlet-class>Controller.DeleteOrderAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <servlet-class>Controller.DashboardAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenuServlet</servlet-name>
        <url-pattern>/ManageMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <url-pattern>/ManageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageHomeServlet</servlet-name>
        <url-pattern>/ManageHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailFoodServlet</servlet-name>
        <url-pattern>/DetailFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFoodServlet</servlet-name>
        <url-pattern>/SearchFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageCartServlet</servlet-name>
        <url-pattern>/manageCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/AddProductToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductCartServlet</servlet-name>
        <url-pattern>/EditProductCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWeeklyMenuServlet</servlet-name>
        <url-pattern>/ManageWeeklyMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWeeklyDetailServlet</servlet-name>
        <url-pattern>/ManageWeeklyDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToMealPlanServlet</servlet-name>
        <url-pattern>/AddToMealPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMealPlanServlet</servlet-name>
        <url-pattern>/SaveMealPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMealPlanSessionServlet</servlet-name>
        <url-pattern>/DeleteMealPlanSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderAdminServlet</servlet-name>
        <url-pattern>/ManageOrderAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStatusOrderAdminServlet</servlet-name>
        <url-pattern>/ManageStatusOrderAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMenuAdminServlet</servlet-name>
        <url-pattern>/ManageMenuAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStatusFoodAdminServlet</servlet-name>
        <url-pattern>/ManageStatusFoodAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMealPlanServlet</servlet-name>
        <url-pattern>/GetMealPlanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculateTotalServlet</servlet-name>
        <url-pattern>/CalculateTotalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserAdminServlet</servlet-name>
        <url-pattern>/ManageUserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePhoneServlet</servlet-name>
        <url-pattern>/UpdatePhoneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStatusUserAdminServlet</servlet-name>
        <url-pattern>/ManageStatusUserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewManageUserDetailAdminServlet</servlet-name>
        <url-pattern>/ViewManageUserDetailAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderDetailAdminServlet</servlet-name>
        <url-pattern>/ManageOrderDetailAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductDetailAdminServlet</servlet-name>
        <url-pattern>/ManageProductDetailAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserAdminServlet</servlet-name>
        <url-pattern>/SearchUserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFoodByNameAdminServlet</servlet-name>
        <url-pattern>/SearchFoodByNameAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountUserAdminServlet</servlet-name>
        <url-pattern>/DeleteAccountUserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusUserAdminServlet</servlet-name>
        <url-pattern>/UpdateStatusUserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusProductAdminServlet</servlet-name>
        <url-pattern>/UpdateStatusProductAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusOrderAdminServlet</servlet-name>
        <url-pattern>/UpdateStatusOrderAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductAdminServlet</servlet-name>
        <url-pattern>/DeleteProductAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderAdminServlet</servlet-name>
        <url-pattern>/DeleteOrderAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <url-pattern>/DashboardAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ControllerServlet</welcome-file>
    </welcome-file-list>
</web-app>
